.general {
  width: 250px;
  text-align: center;
  color: blue;
  font-size: 20px;
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.success {
  width: 250px;
  text-align: center;
  color: green;
  font-size: 20px;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.error {
  width: 250px;
  text-align: center;
  color: red;
  font-size: 20px;
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 0.9;
}
